<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/normalize.css" />
    <link rel="stylesheet" href="/skeleton.css" />
    <link rel="stylesheet" href="/style.css" />
    <title>Budgtr App</title>
</head>

<body>
    <div class="container">
        <nav>
        <a href="/budget/new">Create new item</a>
        </nav>
        <h1>Budgtr</h1.> 
            <table>
                <div class="container"></div>  
                    <tr>
                        <% for(let i = 0; i < allBudgets.length; i++) { %>
                    </tr>
                    <tr>
                        <%=allBudgets[i].date%>
                    </tr>
                        <a href="/budget/<%=i%>">
                            <%=allBudgets[i].name%>
                        </a>
                    <tr>
                        <%=allBudgets[i].amount%>
                     </tr>
                    <% } %>
                </div>   
            </table>     
</body>
</html>